VITE_CLOUD_SERVER_URL=http://127.0.0.1:5000
VITE_LIVE_VIDEO_URL=http://127.0.0.1:8888/live/mobile_001/index.m3u8
VITE_LIVE_WEBRTC_URL=http://127.0.0.1:8889/live/mobile_001/whep
VITE_LIVE_WHIP_URL=http://127.0.0.1:8889/live/mobile_001/whip
VITE_SIMULATION_MODE=false
